@tailwind base;
html {
  scroll-behavior: smooth;
}
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto";
}

@layer base {
  @font-face {
    font-family: "Egory Castle";
    font-weight: 700;
    src: url("/fonts/EgorycastlePersonal.ttf") format("truetype");
  }
  @font-face {
    font-family: "Evogria";
    src: url("/fonts/Evogria.otf") format("opentype");
  }
  @font-face {
    font-family: "EvogriaItalic";
    src: url("/fonts/EvogriaItalic.otf") format("opentype");
  }
  @font-face {
    font-family: "Bavista";
    src: url("/fonts/Bavista_Soulare.ttf") format("truetype");
  }
  @font-face {
    font-family: "Barcade";
    src: url("/fonts/Barcade.ttf") format("truetype");
  }
  @font-face {
    font-family: "ALoveofThunder";
    src: url("/fonts/ALoveofThunder.ttf") format("truetype");
  }
}

.custom-shape-divider-top-1684701837 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1684701837 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-top-1684701837 .shape-fill {
  fill: #f2f6f9;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-top-1684701837 svg {
    width: calc(100% + 1.3px);
    height: 248px;
  }
}
